@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="about_section layout_margin-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="images/LifeStream.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        LifeStream hospital has state-of-the art infrastructure and is equipped to offer healthcare services in
                        specialties and Super specialties backed by specialized facilities, value added services and round-the-clock
                        services. The hospital is one place treatment center with all diagnostics facilities with excellence &
                        patient-friendly ambiance.
                        <br />
                        <br />
                        With medical expertise supported by the latest equipment’s, offer healthcare treatment of quality standards with utmost transparency, compassion and care. Care with compassion and service excellence are the guiding principles of the team. With the same, the hospital builds an integrated atmosphere that helps to provide patients with the most effective patient care meeting the core objective of “Care par excellence”.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>