

<section class="doctor_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Doctors
            </h2>
            <p class="col-md-10 mx-auto px-0">
                We Have Multiple Expert Doctors In Different Departments Such as Pediatrics, Dental Surgery, Nephrology, Radiology, Cardiology, Orthopedics, ENT, Neuro Science unit, etc.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h5>
                            Dr.MK Mehta
                        </h5>
                        <h6 class="">
                            Neurosurgery
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h5>
                            Dr.Abdul Patel
                        </h5>
                        <h6 class="">
                            ENT
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d3.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h5>
                            Dr.Zeel Adhiya
                        </h5>
                        <h6 class="">
                            Neuro Science Unit
                        </h6>
                    </div>
                </div>
            </div>
        </div>  <div class="col-sm-6 col-lg-4 mx-auto">
            <div class="box">
                <div class="img-box">
                    <img src="images/d4.jpg" alt="">
                </div>
                <div class="detail-box">
                    <div class="social_box">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                    <h5>
                        Dr.Hardik Rawal
                    </h5>
                    <h6 class="">
                        Neuro Science Unit
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-box">
        <a href="">
            View All
        </a>
    </div>
</section>
